#main {
    margin: 0 auto;
    padding: 5vw 0;
    background:#000 url(../images/main/background.jpg) top repeat-y;
    background-size: 100%;
}

#main header {
    margin-bottom: 20vw;
}

#main header figure {
    text-align: center;
}

#main header img {
    width: 80%;
}

#main header p {
    width: 78%;
    margin: 0 auto;
    background-color: rgba(34, 62, 114, 0.5);
    border-radius: 5px;
    font-size: 5vw;
    font-family: 'Jua', sans-serif;
    color: #fff;
    letter-spacing: 0.05em;
    text-align: center;
}

#main .start {
    margin-bottom: 10vw;
    text-align: center;
}

#main .start a {
    width: 60%;
    padding: 4vw 10vw;
    background-color: rgba(0,0,0,0.5);
    border: 3px solid #fff;
    border-radius: 6vw;
    font-size: 5vw;
    font-family: 'JalnanOTF', sans-serif;
    color: #fff;
    line-height: 10vw;
    text-align: center;
    cursor: pointer;
}

#main .share {
    margin-bottom: 22vw;
}

#main .share ul {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#main .share ul li {
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-radius: 20vw;
    cursor: pointer;
}

#main .share li#facebook {
    background: url(/images/result/sns/facebook.png) center/cover no-repeat;
}

#main .share li#twitter {
    background: url(/images/result/sns/twitter.png) center/cover no-repeat;
}

#main .share li#kakaostory {
    background: url(/images/result/sns/kakaostory.png) center/cover no-repeat;
}

#main .share li#kakaotalk {
    background: url(/images/result/sns/kakaotalk.png) center/cover no-repeat;
}

#main footer {
    text-align: center;
}

#main .image-copyright {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
}

#main .image-copyright a {
    text-decoration: underline;
    font-weight: 900;
}

@media only screen and (min-width: 500px) {
    #main {
        padding: calc(5px * 5) 0;
    }
    
    #main header {
        margin-bottom: calc(20px * 5);
    }

    #main header img {
        width: calc(80px * 5);
    }

    #main header p {
        width: calc(78px * 5);
        font-size: calc(5px * 5);
    }

    #main .start {
        margin-bottom: calc(10px * 5);
    }
    
    #main .start a {
        width: calc(60px * 5);
        padding: calc(4px * 5) calc(10px * 5);
        border-radius: calc(6px * 5);
        font-size: calc(5px * 5);
        line-height: calc(10px * 5);
    }
    
    #main .share {
        margin-bottom: calc(22px * 5);
    }
    
    #main .share ul {
        width: calc(50px * 5);
    }
    
    #main .share ul li {
        width: calc(10px * 5);
        height: calc(10px * 5);
        border-radius: calc(20px * 5);
    }
}

