#question {
    height: 100vh;
    padding: 0;
    display: none;
    flex-direction: column;
    background:
        linear-gradient(135deg, rgba(24, 47, 112, 0.5) 20%, 20%, rgba(11, 35, 100, 0.3) 30%, 50%, rgba(36, 3, 63, .5) 50%),
        linear-gradient(225deg, transparent, 10%, black 70%);
    background-size: cover;
}

#question header {
    padding: 30px;
}

#question header h1 {
    width: 100%;
    margin: auto;
    margin-bottom: 4vw;
    font-size: 18px;
    font-family: 'JalnanOTF', sans-serif;
    color: white;
    line-height: 1.5;
}

#question header .progress {
    width: 100%;
}

#question header .progress .border {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #ffffff;
}

#question header .progress .bar {
    width: 10%;
    height: 1.6vw;
    background-color: #5f135f;
}

#question header .progress .text {
    font-size: 4vw;
    font-family: 'JalnanOTF', sans-serif;
    color: #ffffff;
    text-align: center;
}

#question .choices {
    width: 100%;
    padding: 0 30px;
    padding-bottom: 50px;
}

#question .choice {
    width: 90%;
    height: auto;
    margin: 30px auto;
    padding: 5px 20px;
    display: block;
    border: 3px solid white;
    border-radius: 18px;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Jua', sans-serif;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

#question .ad-banner {
    width: 320px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

@media only screen and (min-width: 500px) {
    #question header h1 {
        max-width: 700px;
        margin-bottom: calc(4px * 5);
        font-size: 30px;
    }

    #question header .progress .border {
        width: 400px;
    }

    #question header .progress .bar {
        height: 8px;
    }

    #question header .progress .text {
        font-size: 20px;
    }

    #question .choice {
        max-width: 600px;
        font-size: 24px;
    }

    #question .choice:hover {
        background-color: rgba(255, 196, 0, 0.7);
    }
}