#result {
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color:rgba(32, 40, 93, 0.6);
}

#result .scroll {
    width: 100%;
    height: auto;
    padding: 10vw;
    padding-bottom: 5vw;
    background:#20285d url(../images/result/background.jpg) top no-repeat;
    background-size: 100%;
}

#result h2 {
    width: 100%;
    font-size: 6vw;
    font-family: 'JalnanOTF', sans-serif;
    color: white;
    text-align: center;
}

#result .title {
    margin-top: 5vw;
    font-size: 9vw;
    font-family: 'JalnanOTF', sans-serif;
    color: #ffffff;
    text-align: center;
}

#result .picture {
    width: 62.8vw;
    height: 43vw;
    margin: 0 auto;
    margin-top: 16vw;
    position: relative;
    background-color: rgba(255, 99, 71,0.5);
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.5);
}

#result .picture .copyright {
    margin: 0 auto;
    font-size: 2vw;
    font-weight: 400;
    color: #ffffff;
    text-align: end;
}

#result .picture .copyright a {
    text-decoration: underline;
    font-weight: 900;
}

#result .picture > img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

#result .desc_title {
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
    font-family: 'Jua', sans-serif;
    font-size: 24px;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}

#result .description {
    width: 100%;
    margin-top: 29vw;
    padding: 5vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5vw;
    position: relative;
}

#result .description:not(.first) {
    margin-top: 5vw;
}

#result .description .title {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
    font-size: 4vw;
    font-family: 'Jua', sans-serif;
    color: #ffffff;
    text-align: center;
}

#result .description .content p {
    margin-top: 1em;
    font-size: 6vw;
    font-family: 'Jua', sans-serif;
    color: #ffffff;
    letter-spacing: 0.02em;
    text-indent: 3vw;
}

#result .description .content p:first-child {
    margin-top: 0;
}

#result .description .content p b {
    font-size: 7vw;
    color: orange;
}

#result .description2 {
    width: 100%;
    height: auto;
    margin-top: 2vw;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5vw;
    position: relative;
}

#result .description2 p {
    margin-top: 20px;
}

#result .desc_pic {
    width: 150px;
    height: 100px;
    margin: auto;
    margin-top: 2vw;
    background: #fff url() center no-repeat;
}

#result .desc_subtitle {
    color: #ffffff;
    font-family: 'Jua', sans-serif;
    text-align: center;
    display: block;
    margin-top: 3vw;
    font-size: 20px;
}

#result .description3 {
    width: 100%;
    height: auto;
    margin-top: 2vw;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5vw;
    position: relative;
}

#result .description3 p {
    margin-top: 20px;
}

#result .share {
    width: 60%;
    margin: auto;
    margin-top: 10vw;
    display: flex;
    justify-content: space-between;
}

#result .share > li {
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-radius: 20vw;
    cursor: pointer;
}

#result .share li:nth-child(1) {
    background: url(/images/result/sns/facebook.png) center/cover no-repeat;
}

#result .share li:nth-child(2) {
    background: url(/images/result/sns/twitter.png) center/cover no-repeat;
}

#result .share li:nth-child(3) {
    background: url(/images/result/sns/kakaostory.png) center/cover no-repeat;
}

#result .share li:nth-child(4) {
    background: url(/images/result/sns/kakaotalk.png) center/cover no-repeat;
}

#result #link-copy {
    margin-top: 2vw;
    display: block;
    font-size: 3vw;
    font-family: 'Jua', sans-serif;
    color: white;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

#result .ad-banner {
    width: 320px;
    height: 100px;
    margin: 0 auto;
    margin-top: 12vw;
    background-color: #fff;
}

#result #retry {
    width: 60vw;
    margin: auto;
    margin-top: 10vw;
    line-height: 10vw;
    display: block;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5vw;
    font-size: 5vw;
    font-family: 'JalnanOTF', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
}

#result #retry:hover {
    background-color: rgba(255, 196, 0, 0.7);
}

#result .image-copyright {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 6vw;
}

#result .image-copyright a {
    text-decoration: underline;
    font-weight: 900;
}

.herron_marron {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

@media only screen and (min-width: 500px) {
    #result .description .content p {
        font-size: 30px;
    }

    #result #retry {
        width: 300px;
        margin-top: 50px;
        line-height: 50px;
        border-width: 3px;
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) {
    #result .scroll {
        max-width: 752px;
        margin: auto;
        padding: 75.2px;
        padding-bottom: calc(5px * 7.52);
    }

    #result h2 {
        font-size: 45.12px;
    }

    #result .title {
        margin-top: 37.6px;
        font-size: 67.68px;
    }

    #result .picture {
        width: 472.256px;
        height: 323.36px;
        margin-top: 120.32px;
    }

    #result .picture .copyright {
        color: #ffffff;
        font-size: 15.04px;
    }
    
    #result .description {
        margin-top: 218.08px;
        padding: 37.6px;
        border-radius: 37.6px;
    }

    #result .description:not(.first) {
        margin-top: calc(5px * 7.52);
    }

    #result .description .title {
        font-size: calc(4px * 7.52);
    }

    #result .description .content p {
        text-indent: 22.56px;
    }

    #result .description .content p b {
        font-size: 52.64px;
    }

    #result .desc_pic {
        width: 300px;
        height: 200px;
    }
    
    #result .desc_subtitle {
        font-size: 40px;
    }

    #result .description2 p,#result .description3 {
        margin-top: 40px;
    }

    #result .share {
        margin-top: 75.2px;
    }

    #result .share li {
        width: 75.2px;
        height: 75.2px;
    }

    #result #link-copy {
        margin-top: 22.56px;
        font-size: 22.56px;
    }

    #result .ad-banner {
        margin-top: calc(6px * 7.52);
    }
}