#result {
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color:rgba(32, 40, 93, 0.6);
}

#result .scroll {
    width: 100%;
    height: auto;
    padding: 10vw;
    padding-bottom: 5vw;
    background:#20285d url(../images/result/background.jpg) top no-repeat;
    background-size: 100%;
}

#result .scroll > h1 {
    width: 100%;
    margin-bottom: 5vw;
    font-size: 6vw;
    font-family: 'JalnanOTF', sans-serif;
    color: white;
    text-align: center;
}

#result .scroll > .title {
    margin-bottom: 16vw;
    font-size: 9vw;
    font-family: 'JalnanOTF', sans-serif;
    color: white;
    text-align: center;
}

#result .scroll > .picture {
    width: 62.8vw;
    height: 43vw;
    margin: 0 auto;
    margin-bottom: 29vw;
    position: relative;
    background-color: rgba(255, 99, 71,0.5);
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.5);
}

#result .scroll > .picture > img {
    width: 100%;
    height: 100%;
}

#result .scroll > .picture .copyright {
    margin: 0 auto;
    font-size: 2vw;
    font-weight: 400;
    color: #ffffff;
    text-align: end;
}

#result .scroll > .picture .copyright a {
    text-decoration: underline;
    font-weight: 900;
}

#result .description {
    width: 100%;
    margin-bottom: 10vw;
    padding: 5vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5vw;
    position: relative;
}

/* #result .description:not(.last) {
    margin-bottom: 5vw;
} */

#result .description h1 {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 3vw;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
    font-size: 4vw;
    font-family: 'Jua', sans-serif;
    color: #ffffff;
    text-align: center;
}

#result .description .title {
    margin-bottom: 3vw;
    display: block;
    font-size: 5vw;
    font-family: 'Jua', sans-serif;
    text-align: center;
    color: #ffffff;
}

#result .description .picture {
    width: 45vw;
    margin: auto;
    margin-bottom: 3vw;
}

#result .description .picture img {
    width: 100%;
}

#result .description .picture .copyright {
    margin: 0 auto;
    font-size: 2vw;
    font-weight: 400;
    color: #ffffff;
    text-align: end;
}

#result .description .picture .copyright a {
    text-decoration: underline;
    font-weight: 900;
}

#result .description .content p {
    margin-top: 1em;
    font-size: 6vw;
    font-family: 'Jua', sans-serif;
    color: #ffffff;
    letter-spacing: 0.02em;
    text-indent: 3vw;
}

#result .description .content p:first-child {
    margin-top: 0;
}

#result .description .content p b {
    font-size: 7vw;
    color: orange;
}

#result .share {
    width: 60%;
    margin: auto;
    margin-bottom: 3vw;
    display: flex;
    justify-content: space-between;
}

#result .share li {
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-radius: 20vw;
    cursor: pointer;
}

#result .share li#facebook {
    background: url(/images/result/sns/facebook.png) center/cover no-repeat;
}

#result .share li#twitter {
    background: url(/images/result/sns/twitter.png) center/cover no-repeat;
}

#result .share li#kakaostory {
    background: url(/images/result/sns/kakaostory.png) center/cover no-repeat;
}

#result .share li#kakaotalk {
    background: url(/images/result/sns/kakaotalk.png) center/cover no-repeat;
}

#result #link-copy {
    margin-bottom: 12vw;
    display: block;
    font-size: 3vw;
    font-family: 'Jua', sans-serif;
    color: white;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

#result .ad-banner {
    width: 320px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10vw;
    background-color: #fff;
}

#result #retry {
    width: 60vw;
    margin: auto;
    margin-bottom: 20vw;
    line-height: 10vw;
    display: block;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5vw;
    font-size: 5vw;
    font-family: 'JalnanOTF', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
}

#result #retry:hover {
    background-color: rgba(255, 196, 0, 0.7);
}

#result .image-copyright {
    /* margin-bottom: 3vw; */
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

#result .image-copyright a {
    font-weight: 900;
    text-decoration: underline;
}

.herron_marron {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

@media only screen and (min-width: 500px) {
    #result .description .content p {
        font-size: 30px;
    }

    #result #retry {
        width: 300px;
        margin-bottom: calc(20px * 5);
        line-height: 50px;
        border-width: 3px;
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) {
    #result .scroll {
        max-width: 752px;
        margin: auto;
        padding: 75.2px;
        padding-bottom: calc(5px * 7.52);
    }

    #result .scroll > h1 {
        font-size: 45.12px;
        margin-bottom: 37.6px;
    }

    #result .scroll > .title {
        margin-bottom: 120.32px;
        font-size: 67.68px;
    }

    #result .scroll > .picture {
        width: 472.256px;
        height: 323.36px;
        margin-bottom: 218.08px;
    }

    #result .scroll > .picture .copyright {
        color: #ffffff;
        font-size: 15.04px;
    }
    
    #result .description {
        margin-bottom: 75.2px;
        padding: 37.6px;
        border-radius: 37.6px;
    }

    #result .description h1 {
        font-size: calc(4px * 7.52);
        margin-bottom: calc(3px * 7.52);
    }

    #result .description .title {
        margin-bottom: calc(3px * 7.52);
        font-size: calc(5px * 7.52);
    }

    #result .description .picture {
        width: calc(45px * 7.52);
        margin-bottom: calc(3px * 7.52);
    }

    #result .description .picture .copyright {
        font-size: calc(2px * 7.52);
    }

    #result .description .content p {
        text-indent: 22.56px;
    }

    #result .description .content p b {
        font-size: 52.64px;
    }

    #result .share {
        margin-bottom: 22.56px;
    }

    #result .share li {
        width: 75.2px;
        height: 75.2px;
    }

    #result #link-copy {
        margin-bottom: calc(10px * 7.52);
        font-size: 22.56px;
    }

    #result .ad-banner {
        margin-bottom: calc(10px * 7.52);
    }
}